name: pytest
permissions:
  contents: read
on:
  pull_request:
    paths:
      - '**.py'
      - 'pyproject.toml'
jobs:
  pytest:
    runs-on: ubuntu-latest-16-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --dev

      - name: Run pytest
        shell: bash
        env:
          ZOO_API_TOKEN: ${{ secrets.ZOO_API_TOKEN }}
        run: |
          uv run pytest -n 8 -vv --log-cli-level=INFO
